Repository OSU-Sustainability-Office/energy-dashboard, pull requests merged in 2025-03, with the labels that each got.

#346 Migrate vue2 to vue3
  .env.production
  .env.staging
  backend/package-lock.json
  documents/frontend/README.md
  package-lock.json
  package.json
  src/App.vue
  src/assets/style-variables.scss
  src/components/building_list/building_list.vue
  src/components/building_list/view_card.vue
  src/components/campaigns/campaign_building_list.vue
  src/components/campaigns/campaign_list.vue
  src/components/campaigns/campaign_list_block.vue
  src/components/campaigns/campaign_reduction_tips.vue
  src/components/campaigns/main_campaign_view.vue
  src/components/charts/barchart.js
  src/components/charts/barchart.vue
  src/components/charts/chartController.vue
  src/components/charts/doughnutchart.js
  src/components/charts/linechart.js
  src/components/charts/linechart.vue
  src/components/charts/piechart.js
  src/components/extras/contact.vue
  src/components/extras/heropicture.vue
  src/components/extras/media_picker.vue
  src/components/get_started/buildingListTab.vue
  src/components/get_started/commitment.vue
  src/components/get_started/faq.vue
  src/components/get_started/getStartedBanner.vue
  src/components/get_started/getStartedContent.vue
  src/components/get_started/mapTab.vue
  src/components/leftBuildingMenu.vue
  src/components/map/map.vue
  src/components/map/map_compareside.vue
  src/components/map/map_prompt.vue
  src/components/map/prompt_error.vue
  src/components/map/sideView.vue
  src/components/map/switch_buttons.vue
  src/components/map/time_switch_buttons_big.vue
  src/components/navBar.vue
  src/components/view/card.vue
  src/components/view/modals/download_data.vue
  src/components/view/modals/edit_card.vue
  src/components/view/navdir.vue
  src/components/view/view.vue
  src/event-bus.js
  src/main.js
  src/router/index.js
  src/store/block.module.js
  src/store/block_modifiers/index.js
  src/store/chart_modifiers/index.js
  src/store/chart_modifiers/pie_doughnut/base.js
  src/store/data_layer/data_store.js
  src/store/index.js
  src/store/map.module.js
  src/store/view.module.js
  tests/updateMockData.js
  vite.config.mjs
Labels: priority-low, greenkeeper, dependencies

#353 Solar Meter Upload Update
  backend/app/meter.js
Labels: backend

#358 Implement chunking to handle large requests of data
  backend/app/meter.js
  backend/template.yaml
  backend/tests/data_layer.spec.js
  package-lock.json
  src/components/leftBuildingMenu.vue
  src/components/map/compareButton.vue
  src/components/map/map.vue
  src/components/view/modals/edit_card.vue
  src/store/api.js
  src/store/data_layer/data_store.js
  src/store/meter_group.module.js
Labels: priority-med, data-layer

#362 Update Tesla info link
  src/components/view/card.vue
Labels: bug
